.page-container
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Anek Malayalam', sans-serif;
}
.nav
{
    padding: 10px;
    font-size: 1.5rem;
}
.content
{
    display: flex;
    flex-grow: 1;
}
.game, .game-canvas
{
    flex-grow: 1;
    position: relative;
    background-color: var(--secondary-dark);
    display: flex;
    flex-direction: column;
}
.score
{
    text-align: center;
    font-size: 1.2rem;
    padding: 9px;
    background-color: var(--primary-dark);
}
.settings
{
    min-width: max(10%,300px);
    display: flex;
    flex-direction: column;
    background-color: var(--secondary);
    justify-content: space-between;
    position: relative;
}
.scroll-wrapper
{
    height: 100%;
    position: relative;
}

.themes
{
    /* position: absolute;
    bottom: 0;
    left: 0; */
    background-color: var(--primary);
    width: 100%;
    display: flex;
    gap: 10px;
    padding: 5px 0px;
}
.theme-icon
{
    height: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: red;
    margin: 0 auto;
    transition: 0.5s all cubic-bezier(0.165, 0.84, 0.44, 1);
}
.theme-icon:hover
{
    border-radius: 25%;
    filter: brightness(115%);
    
}
.dropdown-header
{
    /* text-align: center; */
    background-color: var(--primary);
    padding: 10px;
    display: block;
    cursor: pointer;
    user-select: none;
    transition: 0.3s all ease-in-out;
}
.dropdown-header:hover
{
    background-color: var(--primary-dark);
}
.canvas-wrapper
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropdown-trigger:checked ~ .dropdown-header
{
    background-color: var(--primary-dark);
}
.dropdown-items
{
    background-color: var(--primary-darker);
}
.dropdown-field
{
    width: 100%;
    border-radius: 0;
    background-color: var(--primary-dark);
    text-align: left;
    transition: 0.3s all ease-in-out;
}
.dropdown-field:hover
{
    background-color: var(--primary-dark);
    cursor: pointer;
}
.dropdowns
{
    overflow-y: scroll;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.dropdown-items > *
{
    background-color: var(--primary-darker);
}
/* .theme-icon:hover .theme-load-screen
{
    clip-path: circle(200% at 50% 100%);
} */
#theme-load-screen
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    clip-path: circle(0% at 100% 100%);
    transition: 0.5s clip-path ease-in-out;
    
}
.show-load-screen
{
    animation: theme-cover-screen 0.7s 2 alternate;
}

.center
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.colorful-dark
{
    background-color: #3498db;
    border: 4px solid #34495e;
}
.ice-cream
{
    background-color: #D5B4B4;
    border: 4px solid #867070;
}
.pastel
{
    background-color: #fce0e1;
    border: 4px solid #B0C0F7;
}

@keyframes theme-cover-screen {
    from {
        clip-path: circle(0% at 100% 100%);
    }
  
    to {
        clip-path: circle(200% at 100% 100%);
    }
  }

