.page-container
{
    min-height: 100dvh;
    display: flex;
    font-family: 'Anek Malayalam', sans-serif;
}
.nav
{
    padding: 10px;
    font-size: 1.5rem;
}
.content
{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
.settings
{
    width: max(10%,300px);
    display: flex;
    flex-direction: column;
    background-color: var(--secondary);
    justify-content: space-between;
    position: relative;
    transition: 0.5s all ease-in-out;
    overflow-x: hidden;
}
.settings-hidden
{
    width: 0px;
}
.scroll-wrapper
{
    height: 100%;
    position: relative;
}
.dropdown-items
{
    background-color: var(--primary-darker);
}
.dropdown-field
{
    width: 100%;
    border-radius: 0;
    background-color: var(--primary-dark);
    text-align: left;
    transition: 0.3s all ease-in-out;
}
.dropdown-field:hover
{
    background-color: var(--primary-dark);
    cursor: pointer;
}
.dropdowns
{
    overflow-y: scroll;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.dropdown-items > *
{
    background-color: var(--primary-darker);
}

/* G A M E */

.game, .game-canvas
{
    flex-grow: 1;
    position: relative;
    background-color: var(--secondary-dark);
    display: flex;
    flex-direction: column;
}
.score
{
    text-align: center;
    font-size: 1.2rem;
    padding: 9px;
}
.state
{
    margin-bottom: 10px;
}
.game-state
{
    font-size: 1.5rem;
    max-height: 0px;
    text-align: center;
    padding: 0px;
}

.canvas-wrapper
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* N A V I G A T I O N */

.hamburger, .redo
{
    background-color: var(--primary);
    position: absolute;
    border-radius: 100%;
    font-size: 1.2rem;
    padding: 15px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
}

.hamburger
{
    right: 0.62rem;
    top: 0.62rem;
}
.redo
{
    right: 5.62rem;
    top: 0.62rem;
}
.hamburger:hover, .redo:hover
{
    background-color: var(--primary-darker);
}


/* T H E M E S */

.themes
{
    background-color: var(--primary);
    width: 100%;
    display: flex;
    gap: 10px;
    padding: 5px 0px;
}
.theme-icon
{
    height: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    margin: 0 auto;
    transition: 0.5s all cubic-bezier(0.165, 0.84, 0.44, 1);
}
.theme-icon:hover
{
    border-radius: 25%;
    filter: brightness(115%);
    
}

#load-btn
{
    display: inline-block;
}

#theme-load-screen
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    clip-path: circle(0% at 100% 100%);
    transition: 0.5s clip-path ease-in-out;
    
}
.show-load-screen
{
    animation: theme-cover-screen 0.7s 2 alternate;
}

.colorful-dark
{
    background-color: #3498db;
    border: 4px solid #34495e;
}
.ice-cream
{
    background-color: #D5B4B4;
    border: 4px solid #867070;
}
.pastel
{
    background-color: #fce0e1;
    border: 4px solid #B0C0F7;
}

@keyframes theme-cover-screen
{
    from 
    {
        clip-path: circle(0% at 100% 100%);
    }
  
    to 
    {
        clip-path: circle(200% at 100% 100%);
    }
}

/* U T I L I T Y */

/* MEDIA */

@media screen and (min-width: 35.5em)	/*≥ 568px	*/
{
    
}
@media screen and (min-width: 48em)	    /*≥ 768px	*/
{

}
@media screen and (min-width: 64em)	    /*≥ 1024px	*/
{

}
@media screen and (min-width: 80em)	    /*≥ 1280px	*/
{
   
}
@media screen and (min-width: 120em)   /* ≥ 1920px */
{

}